 
 body{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background:
			   /* top, transparent black, faked with gradient */ 
			   linear-gradient(
				 rgba(0, 0, 0, 0.7), 
				 rgba(0, 0, 0, 0.7)
			   ),
			   /* bottom, image */
			   url(..//media/SI202109051468_hires_jpeg_24bit_rgb-scaled.jpg);
			   background-repeat: no-repeat;
			   background-size: 200, 200px;
		   }; 
		 
	/* nav */

 ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 15px;
	position: sticky;
	top: 0;
  }
  /* tekstNav */
  li {
	float: right;
	margin-right: 35px;
}
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 25px;
	font-family: "Audiowide", sans-serif;
	
  }
  li a:hover {
	background-color: rgba(253, 8, 8, 0.432);
	border-radius: 5px;
	box-shadow: 5px 10px 8px #000000;
  }
  /* Footer met newsletter */
  .footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 #newsLetter{
     border: solid whitesmoke;
	 border-width: 1px;
	 border-radius: 5px;
	 background-color: #14141e;
    margin-top: auto;
	font-family: "Audiowide", sans-serif;
 }
 .header {
	    position: auto;
		float: left;
		color: white; 
		font-family: "Audiowide", sans-serif;
		font-weight: bolder;
		margin-top: 11%;
		left: 13%;
		font-size: 30px;
		margin-right: 600px;
	  }

/*slideshow*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
  position:relative;
}

