 
 body{
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #14141e;
	padding: 20px;
	position: sticky;
	top: 0;
  }
  
  li {
	float: right;
	margin-right: 50px;
}
  #liNaarLinks{
	margin-right: 10%;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 25px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }

  li a:hover {
	background-color: rgb(253, 106, 8);
	border-radius: 5px;
	box-shadow: 5px 10px 8px #000000;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 #newsLetter{
     top: 600px;
     border-color: solid red;
    
 }
 