 
 body{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background:
			   /* top, transparent black, faked with gradient */ 
			   linear-gradient(
				 rgba(0, 0, 0, 0.7), 
				 rgba(0, 0, 0, 0.7)
			   ),
			   /* bottom, image */
			   url(..//media/SI202109051468_hires_jpeg_24bit_rgb-scaled.jpg);
			   background-repeat: no-repeat;
			   background-size: 1600, 900px;
		   };
		     /* hide mobile version by default */
  .logo .mobile {
    display: none;
  }
  /* when screen is less than 600px wide
     show mobile version and hide desktop */
  @media (max-width: 600px) {
    .logo .mobile {
      display: block;
    }
    .logo .desktop {
      display: none;
    }
  }
		   
		   /*mobile compatibility*/

		   /* @media only screen and (max-width:800px) {

			/* For tablets: */

			/* .main {
			  width: 50%;
			  padding: 20%;
			}
			.right {
			  width: 100%;
			}
		  }

		  @media only screen and (max-width:500px) {
			/* For mobile phones: 
			.menu, .main, .right {
			  width: 100%;
			  
			}
		  }
		  */
	/* nav */
ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	background-color:#14141e;
	padding: 20px;
	position: sticky;
	top: 0;
  }
  /* tekstNav */
  li {
	float: right;
	margin-right: 35px;
}
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 25px;
	font-family: "Audiowide", sans-serif;
  }
  li a:hover {
	background-color: rgba(253, 8, 8, 0.432);
	border-radius: 5px;
	box-shadow: 5px 10px 8px #000000;
  }
  .footer {
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 #newsLetter{
     border: solid whitesmoke;
	 border-width: 1px;
	 border-radius: 5px;
	 background-color: #14141e;
    margin-top: auto;
 }
 h1 {
		position: relative;
		float: left;
		color: white;
		font-family: "Audiowide", sans-serif;
		font-weight: bolder;
		margin-top: 11%;
		left: 13%;
		transform: translate(-70%, -50%);
		font-size: 30px;
		margin-right: 600px;

	  }
/* .lowerLeftCentered{
		font-family: "Audiowide", sans-serif;
		position: absolute;
		top: 18%;
		left: 13%;
		transform: translate(-50%, -50%);
		font-size: 30px; */

	  
	