 
body{
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #14141e;
	padding: 20px;
	position: sticky;
	top: 0;
  }
  
li {
	float: right;
	margin-right: 50px;
}

#liNaarLinks{
	margin-right: 10%;
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 25px;
	font-family: "Audiowide", sans-serif;
	opacity: 0.6;
	transition: 0.5s;
	border-radius: 5px;
  }

  li a:hover {
	background-color: rgba(253, 8, 8, 0.432);
	border-radius: 5px;
	box-shadow: 5px 10px 8px #000000;
	opacity: 1
  }
  
 #homeHetCircuit{
	background-color: rgb(255, 72, 0);
	height: 60px;
	width: 120px;
	margin: 10px;
	text-decoration: none;
	border: none;
	box-shadow: 5px 5px 5px #000000b7;
 }
 /* TEXT OVER FOTO */
 .container {
	position: relative;
	text-align: center;
	color: white;
  }
  .leftCentered {
	font-family: "Audiowide", sans-serif;
	font-weight: bolder;
	position: absolute;
	top: 20%;
	left: 15%;
	transform: translate(-50%, -50%);
	font-size: 50px;
  }
  .lowerLeftCentered{
	font-family: "Audiowide", sans-serif;
	position: absolute;
	top: 35%;
	left: 15%;
	transform: translate(-50%, -50%);
	font-size: 30px;
  }
 
/* TEXT OVER FOTO */
 /* GRID LAYOUT HOME PAGINA */
.grid-container{
	display: grid;
	background-color: #2a2a3f;
	padding: 4px;
  }
  
  .grid-item {
	text-align: center;
	padding: 20px;
  }
  
  .item1 {
	grid-column: 1 / span 1;
	grid-row: 1;
	border: 1px solid gray;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
  }
  
  .item2 {
	grid-column: 2 / span 1;
	grid-row: 1;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  .item3{
	grid-column: 1 / span 2;
	grid-row: 2;
	border: 1px solid gray;
	border-radius: 5px;
  }
  /* GRID IN GRID */
  .grid-in-grid{
	display: grid;
	background-color: #2a2a3f;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .grid-item-in-grid{
	text-align: center;
	padding: 20px;
  }
  .itemGridInGrid1{
	grid-column: 1 / span 1;
	grid-row: 1;
  }
  .itemGridInGrid2{
	grid-column: 2 / span 1;
	grid-row: 1;
  }
  		/* BUTTON GRID IN GRID */
		  #inputGridInGrid{
			border: none;
			border-radius: 5px;
			height: 40px;
			width: 200px;
			margin: 15px;
			box-shadow: 5px 5px 5px #0000008c;
			color: rgb(0, 0, 0);
		  }
		/* BUTTON GRID IN GRID */
  /* GRID IN GRID */
  /* BUTTON */
  #buttonSocialMedia{
	background-color: rgb(255, 72, 0);
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 100px;
	margin: 5px;
	box-shadow: 5px 5px 5px #0000008c;
	color: white;	  	
  }
  #followDutchGP{
	background-color: rgb(255, 72, 0);
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 200px;
	margin: 5px;
	box-shadow: 5px 5px 5px #0000008c;
	color: white;	
 }
 
  /* BUTTON */
/* GRID LAYOUT HOME PAGINA */