body{
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}
/* NAVBAR */
    /* UL */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #14141e;
        padding: 20px;
        position: sticky;
        top: 0;
    }
    /* UL */

        /* LI */
        li {
            float: right;
            margin-right: 50px;
        }

        #liNaarLinks{
            margin-right: 10%;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 18px;
            text-decoration: none;
            font-size: 25px;
            font-family: "Audiowide", sans-serif;
            opacity: 0.6;
            transition: 0.5s;
            border-radius: 5px;
        }

        li a:hover {
            background-color: rgba(253, 8, 8, 0.432);
            border-radius: 5px;
            box-shadow: 5px 10px 8px #000000;
            opacity: 1
        }
        /* LI */
/* NAVBAR */

/* H1 text */
#merchH1{
    font-family: "Audiowide", sans-serif;
    margin: 10px;
}
/* H1 text */
/* GRID MERCH */
    .gridContainer{
        display: grid;
        padding: 10px;
    }
    .grid-item{
        text-align: center;
        padding: 20px;
        background-color: rgba(255, 0, 0, 0.39);
    }
        /* GRID ITEM */
        .item1{
            grid-column: 1 / span 1;
            grid-row: 1;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
        .item2{
            grid-column: 2 / span 1;
            grid-row: 1;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
        .item3{
            grid-column: 3 / span 1;
            grid-row: 1;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
        .item4{
            grid-column: 1 / span 1;
            grid-row: 2;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
        .item5{
            grid-column: 2 / span 1;
            grid-row: 2;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
        .item6{
            grid-column: 3 / span 1;
            grid-row: 2;
            border-radius: 5px;
            margin: 5px;
            box-shadow: 5px 5px 5px #0000008c;
        }
            /* BUTTON MATEN*/
            #btnSelecteerMaat{
                height: 40px;
                width: 40px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #04AA6D;
                border: none;
                border-radius: 15px;
                box-shadow: 0 5px #999;
            }
            #btnSelecteerMaat:hover {
                background-color: #3e8e41
            }
            #btnSelecteerMaat:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            #bestel{
                height: 50px;
                width: 100px;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #04AA6D;
                border: none;
                border-radius: 15px;
                box-shadow: 0 5px #999;
            }
            #bestel:hover{
                background-color: #3e8e41
            }
            #bestel:active{
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

            /* BUTTON MATEN*/
        /* GRID ITEM */
/* GRID MERCH */