 
 body{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #2a2a3f;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	background:
			   /* top, transparent black, faked with gradient */ 
			   linear-gradient(
				 rgba(0, 0, 0, 0.7), 
				 rgba(0, 0, 0, 0.7)
			   ),
			   /* bottom, image */
			   url(..//media/A38I9789-852x611.jpg);
			   background-repeat: no-repeat;
			   background-size: cover;
		   }; 
		 
	/* nav */

 ul{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 15px;
	position: sticky;
	top: 0;
  }
  /* tekstNav */
  li {
	float: right;
	margin-right: 35px;
}
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-size: 25px;
	font-family: "Audiowide", sans-serif;
	
  }
  li a:hover {
	background-color: rgba(253, 8, 8, 0.432);
	border-radius: 5px;
	box-shadow: 5px 10px 8px #000000;
  }


  .parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 2 / 1 / 3 / 2; }
	.div3 { grid-area: 3 / 1 / 4 / 2; }


.div1 {
	font-family: "Audiowide", sans-serif;
	font-weight: bolder;
	position: relative;
	text-align: center;
	color: white;
}

#banner-tickets {
	width: 100%;
	filter: brightness(50%);
	
}
#sticker {
	position:absolute;
	top: 8px;
	left: 16px;
	float: left;
}

.div2 {
	background-color: rgba(0, 0, 0, 0.644);
	padding: 3px;
	position: relative;
	color: white;
}
#datum {
	font-size: large;
}

#sold_out {
	background-color: rgb(161, 0, 0);
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	bottom: 8px;
	right: 80px;
} 

